{% include 'globalTemplates/header.twig' %}
<div class="main-content no-header" id="main-content">
    <div class="login">
        <div class="login-box">
            <div class="title">
                <h4>Prijavi se</h4>
                <h3>{{ page.email }}</h3>
            </div>

            <form action="{{ page.actionForm }}" method="post">
                <div class="form-input">
                    <label id="mdc-text-field" class="mdc-text-field mdc-text-field--outlined">
                        <input name="username" type="hidden" value="{{ page.email }}">
                        <input name="password" type="password" class="mdc-text-field__input" aria-labelledby="my-label-id">
                        <span class="mdc-notched-outline">
                            <span class="mdc-notched-outline__leading"></span>
                            <span class="mdc-notched-outline__notch">
                                <span class="mdc-floating-label" id="my-label-id">Vasa Lozinka</span>
                            </span>
                            <span class="mdc-notched-outline__trailing"></span>
                        </span>
                    </label>
                </div>

                <div class="form-input form-button">
                    <div class="mdc-touch-target-wrapper">
                        <button class="mdc-button mdc-button--raised">
                            <span class="mdc-button__ripple"></span>
                            <span class="mdc-button__label">Dalje</span>
                            <span class="mdc-button__touch"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        {% include 'Login/templates/loginbox-links.twig' %}
    </div>
</div>

{% include 'globalTemplates/scripts.twig' %}
{% include 'globalTemplates/footer.twig' %}