<div class="page-title style1">
    <h4>Podaci i prilagodba</h4>
    <p></p>
</div>

<div class="accountPage page-content">
    <div class="groups account-info">
        <div class="group">
            <div class="group-title">
                <h4>Prilagodba</h4>
            </div>

            <div class="group-list">
                <div class="mdc-list-group">
                    <ul class="mdc-list">
                        <!--
                        <a href="/opencms/account/editpassword">
                            <li class="mdc-list-item">
                                <span class="mdc-list-item__ripple"></span>
                                <span class="mdc-list-item__graphic"><p>Jezik</p></span>
                                <span class="mdc-list-item__text">Bosna i Hercegovina</span>
                                <span class="mdc-list-item__meta material-icons" aria-hidden="true">navigate_next</span>
                            </li>
                        </a>
                        -->
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>