{% include 'globalTemplates/header.twig' %}
<div class="main-content" id="main-content">
    <div class="errorPage">
        <div class="box">
            <h4>404 Nije pronađeno!</h4>
            <p>Oops... Stranica nije pronađena.</p>
        </div>
    </div>
</div>

{% include 'globalTemplates/scripts.twig' %}
{% include 'globalTemplates/footer.twig' %}
