.home {
    width: 100%;
}
.home-message-box > .image > img {
    width: 130px;
    border-radius: 50%;
}
.home-message-box > .title {
    margin-top: 10px;
}
.home-message-box > .title > h4 {
    font-size: 24px;
    font-weight: normal;
}