{% include 'globalTemplates/header.twig' %}
<div class="main-content" id="main-content">
    <div class="accountPageEdit page-content">
        <div class="groups">
            <div class="group medium-width">
                <div class="group-title medium-padding">
                    <h4>Uredi lozinku</h4>
                </div>


                <div class="form">
                    <form action="/opencms/account/post/updatepassword" method="post">
                        <div class="form-field">

                                <label id="fieldFirstName" class="mdc-text-field mdc-text-field--filled">
                                    <span class="mdc-text-field__ripple"></span>
                                    <span class="mdc-floating-label" id="my-label-id">Stara lozinka</span>
                                    <input name="oldpassword" class="mdc-text-field__input" type="text" aria-labelledby="my-label-id">
                                    <span class="mdc-line-ripple"></span>
                                </label>

                        </div>

                        <div class="form-field">
                            <label id="fieldLastName" class="mdc-text-field mdc-text-field--filled">
                                <span class="mdc-text-field__ripple"></span>
                                <span class="mdc-floating-label" id="my-label-id">Nova Lozinka</span>
                                <input name="newpassword" class="mdc-text-field__input" type="text" aria-labelledby="my-label-id">
                                <span class="mdc-line-ripple"></span>
                            </label>
                        </div>

                        <div class="form-field">
                            <label id="fieldLastName" class="mdc-text-field mdc-text-field--filled">
                                <span class="mdc-text-field__ripple"></span>
                                <span class="mdc-floating-label" id="my-label-id">Nova Lozinka</span>
                                <input name="newpasswordconfirm" class="mdc-text-field__input" type="text" aria-labelledby="my-label-id">
                                <span class="mdc-line-ripple"></span>
                            </label>
                        </div>

                        <div class="form-field">
                            <button class="mdc-button mdc-button--raised"><span class="mdc-button__ripple"></span>
                                Sacuvaj
                            </button>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
</div>

{% include 'globalTemplates/scripts.twig' %}

<script>
    mdc.textField.MDCTextField.attachTo(document.getElementById("fieldFirstName"));
    mdc.textField.MDCTextField.attachTo(document.getElementById("fieldLastName"));
</script>

{% include 'globalTemplates/footer.twig' %}
