<div class="home-message-box">

    <div class="image">
        <img src="{{ page.user.basic.u_avatar|userAvatar }}" alt="{{ page.user.u_fistname }} {{ page.user.u_lastname }} Avatar">
    </div>

    <div class="title">
        <h4>Dobro došao, {{ page.user.basic.u_firstname }}</h4>
    </div>
</div>
