<div class="login-links">
    <ul>
        <li>
            <button onclick="loginBoxLangChoose.open();" class="mdc-button">
                <span class="mdc-button__ripple"></span>
                <span class="mdc-button__label">Bosanski</span>
                <i class="material-icons mdc-button__icon" aria-hidden="true">arrow_drop_down</i>
            </button>

            <div id="toolbar" class="toolbar mdc-menu-surface--anchor">
                <div class="mdc-menu mdc-menu-surface loginBoxLangMenu" id="demo-menu">
                    <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical" tabindex="-1">
                        <li class="mdc-list-item" role="menuitem">
                            <span class="mdc-list-item__ripple"></span>
                            <span class="mdc-list-item__text">Engleski</span>
                        </li>
                        <li class="mdc-list-item" role="menuitem">
                            <span class="mdc-list-item__ripple"></span>
                            <span class="mdc-list-item__text">Njemački</span>
                        </li>
                        <li class="mdc-list-item" role="menuitem">
                            <span class="mdc-list-item__ripple"></span>
                            <span class="mdc-list-item__text">Srpski (ćirilica)</span>
                        </li>
                    </ul>
                </div>
            </div>
        </li>

        <li>
            <button class="mdc-button">
                <span class="mdc-button__ripple"></span>
                <span class="mdc-button__label">Privatnost</span>
            </button>

        </li>

        <li>
            <button class="mdc-button">
                <span class="mdc-button__ripple"></span>
                <span class="mdc-button__label">Uslovi</span>
            </button>

        </li>
    </ul>
</div>